<div class="container-fluid p-4">
    <div class="container p-2">
        <h3 class="all-account-title nunito fs-3 fw-medium text-black my-1">Todas las cuentas</h3>
    </div>
    <div class="container">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th class="nunito">Tipo</th>
                <th class="nunito">Nombre de Cuenta</th>
                <th class="nunito">Estado</th>
                <th class="nunito">Divisa</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="nunito">Cuenta de Ahorros</td>
                <td class="nunito">459269.Rafale</td>
                <td class="nunito">Activa</td>
                <td class="nunito">USD</td>
              </tr>
              <tr>
                <td class="nunito">Cuenta en Whiskas</td>
                <td class="nunito">BolsadeWhiskas.34851</td>
                <td class="nunito">Pausado</td>
                <td class="nunito">CAT</td>
              </tr>
              <tr>
                <td class="nunito">Cuenta de Inversión</td>
                <td class="nunito">Monic.445731</td>
                <td class="nunito">Activa</td>
                <td class="nunito">USD</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
