.perfil-container {
  // width: 50%;
  margin: 0 auto;
}

.perfil-imagen {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  object-fit: cover;
}

.hh-25 {
  height: 25vh;
}

.bg-main {
  background-color: #044747;
}