<div class="form-box container d-flex justify-content-center align-items-center col-7 p-5 rounded">
    <form class="w-100 d-flex flex-column gap-3">
        <div class="mb-3">
            <input type="email" class="form-control fs-4 nunito" placeholder="Usuario" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <input type="password" placeholder="Contraseña" class="form-control fs-4 nunito" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label nunito fs-4" for="exampleCheck1">Recuérdame</label>
        </div>
        <button type="submit" class="btn button-form rounded nunito">Iniciar sesión</button>
    </form>
</div>

